<div class="header-container header-container--desktop">
  <app-close *ngIf="showClose" [onClose]="onClose"></app-close>
  <h1 class="header-container__title" *ngIf="title.length > 0">{{title}}</h1>
  <app-search-bar [onSearch]="onSearch" *ngIf="onSearch"></app-search-bar>
</div>


<div class="header-container header-container--mobile">
  <div class="header-title-container">
    <app-close *ngIf="showClose" [onClose]="onClose"></app-close>
    <h1 class="header-container__title" *ngIf="title.length > 0">{{title}}</h1>
  </div>
  <app-search-bar [onSearch]="onSearch" *ngIf="onSearch"></app-search-bar>
</div>
