@import "../../../variables";
@import "../../../mixins";

.header-container {
  align-items: center;

  app-close {
    margin-right: 16px;
  }

  &__title {
    //margin-left: 32px;
    color: $color-primary;
  }

  app-search-bar {
    margin-left: 16px;
  }

  @include respond(phone) {
    app-search-bar {
      margin-left: 0;
      margin-top: 16px;
    }
  }

}

.header-container--desktop {
  display: none;
  @include respond(tab-port) {
    display: flex
  }
  @include respond(tab-land) {
    display: flex
  }
  @include respond(desktop) {
    display: flex
  }
  @include respond(big-desktop) {
    display: flex
  }
}

.header-container--mobile {
  display: none;
  @include respond(phone) {
    display: flex;
    flex-direction: column;
    align-items: unset;

    .header-title-container {
      @include respond(phone) {
        display: flex;
        align-items: center;
      }
    }

  }
}
