@import "../../../variables";
@import "../../../mixins";

.exercice-progress-counter {
  display: flex;
  margin-top: 32px;
  font-size: 2rem;
  padding-left: 5%;
  padding-right: 5%;

  @include respond(phone) {
    padding-left: 0;
    padding-right: 0;
  }

  &__value {
    margin-left: 8px;
  }

  &__success {
    color: $color-green;
    flex: 1;
  }

  &__errors {
    color: $color-red;
    flex: 1;
    text-align: right;
  }
}
