@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background: white !important;
}
app-landing {
  display: block;
  background: white;
  padding-bottom: 500px;
}
app-landing #landing-header {
  background: white;
  margin-bottom: 60px;
  position: relative;
  overflow: auto;
}
app-landing #landing-header #image-header {
  position: absolute;
  top: -27px;
  left: -10px;
  height: 90px;
}
app-landing #landing-header #landing-header-left {
  margin-left: 200px;
  height: 70px;
  float: left;
}
app-landing #landing-header #landing-header-left a {
  text-decoration: none;
}
app-landing #landing-header #landing-header-left h1 {
  font-family: "SF Pro Display", serif;
  color: #3F51B5;
  font-size: 28px;
  font-weight: bold;
}
app-landing #landing-header #landing-header-right {
  margin-right: 150px;
  height: 70px;
  float: right;
  display: inline-block;
}
app-landing #landing-header #landing-header-right ul {
  list-style: none;
  overflow: auto;
}
app-landing #landing-header #landing-header-right ul li {
  float: left;
  margin-left: 15px;
}
app-landing #landing-header #landing-header-right a {
  border: none;
  color: black;
  width: 100px;
  height: 40px;
  border-radius: 40px;
  font-family: "SF Pro Display", serif;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 40px;
}
app-landing #landing-header #landing-header-right a:focus {
  outline: none;
}
app-landing #landing-header #landing-header-right #landing-header-signup {
  background: #FFD351;
  color: white;
}
app-landing #landing-goals {
  margin-top: 80px;
}
app-landing #landing-goals #landing-goals-description,
app-landing #landing-goals #landing-goals-image {
  float: left;
  width: 50%;
}
app-landing #landing-goals #landing-goals-description {
  overflow: auto;
}
app-landing #landing-goals #landing-goals-description > div {
  float: right;
  font-family: 'SF Pro Display', serif;
}
app-landing #landing-goals #landing-goals-description #landing-goals-description-title {
  font-weight: lighter;
  font-size: 65px;
  margin-bottom: 10px;
}
app-landing #landing-goals #landing-goals-description #landing-goals-description-subtitle {
  font-size: 17px;
  font-weight: lighter;
}
app-landing #landing-goals #landing-goals-description #landing-goals-description-btn-get-started {
  clear: both;
  float: left;
  margin-top: 30px;
}
app-landing #landing-goals #landing-goals-description #landing-goals-description-btn-get-started a {
  text-decoration: none;
  color: white;
  font-family: 'SF Pro Display', serif;
  font-size: 17px;
  background: #FFD351;
  border: none;
  width: 190px;
  height: 60px;
  display: block;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
}
app-landing #landing-goals #landing-goals-description #landing-goals-description-btn-get-started > button:focus {
  outline: none !important;
}
app-landing #landing-goals #landing-goals-image div {
  min-height: 500px;
  width: 100%;
  background: url("../../assets/images/undraw_working_late_pukg.svg") no-repeat center;
  background-size: contain;
}
app-landing #landing-devices .landing-device-layout:first-child .landing-device-container {
  float: right;
  margin-right: 30px;
}
app-landing #landing-devices .landing-device-layout:last-child .landing-device-container {
  float: left;
  margin-left: 30px;
}
app-landing #landing-devices .landing-device-layout {
  float: left;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}
app-landing #landing-devices .landing-device-layout .landing-device-container {
  margin: 0 auto;
  background: white;
  position: relative;
  min-height: 400px;
  -webkit-box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  padding: 30px;
}
app-landing #landing-devices .landing-device-layout .landing-device-container #device-background-container img {
  height: 300px;
}
app-landing #landing-devices .landing-device-layout .landing-device-container .landing-devies-sources {
  overflow: auto;
  margin-top: 30px;
}
app-landing #landing-devices .landing-device-layout .landing-device-container .landing-devies-sources > div {
  width: 50%;
  float: left;
}
app-landing #landing-devices .landing-device-layout .landing-device-container .landing-devies-sources > div a {
  color: #FFA726;
  font-family: 'SF Pro Display', serif;
  text-decoration: none;
  font-size: 17px;
}
app-landing #landing-devices .landing-device-layout .landing-device-container .landing-devies-sources > div:nth-child(2) a {
  float: right;
}
app-landing #landing-friends #landing-friends-text,
app-landing #landing-friends #landing-friends-image {
  width: 50%;
  float: left;
  height: 300px;
}
app-landing #landing-friends #landing-friends-text > div {
  margin-top: 65px;
  margin-right: 60px;
  float: right;
}
app-landing #landing-friends #landing-friends-image img {
  height: 300px;
  margin-left: 60px;
}
app-landing #landing-social-networks {
  overflow: visible;
  position: relative;
}
app-landing #landing-social-networks #background-social-networks {
  position: absolute;
  top: -300px;
  left: -250px;
  height: 700px;
}
app-landing #landing-social-networks #background-social-networks img {
  height: 100%;
}
app-landing #landing-social-networks #landing-social-networks-image,
app-landing #landing-social-networks #landing-social-networks-text {
  width: 50%;
  float: left;
}
app-landing #landing-social-networks #landing-social-networks-image {
  position: relative;
  display: block;
  min-width: 100px;
  min-height: 100px;
}
app-landing #landing-social-networks #landing-social-networks-image img {
  height: 380px;
  float: right;
  margin-right: 60px;
  position: absolute;
  top: 40px;
  left: 150px;
  display: block;
}
app-landing #landing-social-networks #landing-social-networks-text #landing-social-networks-links {
  margin-top: 15px;
}
app-landing #landing-social-networks #landing-social-networks-text #landing-social-networks-links > div:nth-child(even) {
  background: #E6E4FE;
}
app-landing #landing-social-networks #landing-social-networks-text #landing-social-networks-links > div:nth-child(odd) {
  background: #c6ccfa;
}
app-landing #landing-social-networks #landing-social-networks-text #landing-social-networks-links > div {
  overflow: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 150px;
}
app-landing #landing-social-networks #landing-social-networks-text #landing-social-networks-links a .landing-social-network-image {
  width: 30%;
  max-width: 100px;
  float: left;
}
app-landing #landing-social-networks #landing-social-networks-text #landing-social-networks-links a .landing-social-network-image img {
  width: 100%;
  border-radius: 50%;
}
app-landing #landing-social-networks #landing-social-networks-text #landing-social-networks-links a .landing-social-network-link {
  width: 70%;
  float: left;
  line-height: 100px;
  padding-left: 50px;
  font-weight: bold;
  font-family: 'SF Pro Display', serif;
}
app-landing .landing-block {
  margin-top: 200px;
  overflow: auto;
  min-height: 100px;
}
app-landing .landing-block .landing-title,
app-landing .landing-block .landing-description {
  font-family: 'SF Pro Display', serif;
}
app-landing .landing-block .landing-title {
  font-size: 46px;
  color: #223242;
  margin-bottom: 15px;
}
app-landing .landing-block .landing-description {
  font-size: 17px;
  color: #657783;
}
/*# sourceMappingURL=landing.component.css.map */