<div id="header">
  <mat-toolbar>
    <a routerLink="/" [ngClass]="{'menu-active': currentPath == '/'}">Enirve</a>

    <ul id="menu">
      <li>
        <a routerLink="/ios" [ngClass]="{'menu-active': currentPath == '/ios'}">iOS</a>
      </li>
      <li>
        <a routerLink="/about" [ngClass]="{'menu-active': currentPath == '/about'}">About Enirve</a>
      </li>
    </ul>

    <ul id="menu-right">
      <li>
        <img [src]="userImage | serverUrl" alt="user picture" class="user-picture" *ngIf="userImage">
      </li>
      <li [routerLink]="'/profile/' + userName">
        <a [ngClass]="{'menu-active': currentPath?.includes('/profile')}">{{userName}}</a>
      </li>
    </ul>
  </mat-toolbar>
</div>
