@import "../../../mixins";

.search-container {
  padding: 16px;

  @include respond(tab-land) {
    padding: 30px 200px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include respond(tab-port) {
    padding: 30px 100px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include layoutDesktop;
}

.search-input-container {
  //margin-top: 40px;
}

.user-search-input {
  width: calc(100% - 45px);
  position: relative;
  left: 45px;
}

.search-users-friends {
  width: 100%;
  display: block;

  &__picture {
    width: 100%;
  }

}
