@import "../../../mixins";

.search-container {
  padding: 16px;
  background: fuchsia;
  display: flex;
  flex-direction: column;

  app-list-friends {
    flex: 1;
    overflow-y: scroll;
  }

  @include respond(tab-land) {
    padding: 30px 200px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include respond(tab-port) {
    padding: 30px 100px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include layoutDesktop;

  height: calc(100% - 32px);
  margin-top: 16px!important;
}

.search-users-friends {
  width: 100%;
  display: block;

  &__picture {
    width: 100%;
    margin-top: 32px;
  }

}
