<div class="search-container">

  <app-header-container [title]="'Search friends'"
                        [showClose]="true"
                        [onSearch]="searchUsers">
  </app-header-container>

  <!--  <div class="search-input-container">
      <form class="example-form">
        <mat-form-field class="user-search-input">
          <input matInput placeholder="Usear search" title="user search" [formControl]="search" (input)="searchUsers()">
        </mat-form-field>
      </form>
    </div>-->

  <app-list-friends [friends]="users" [userConnected]="userConnected" *ngIf="users.length > 0"></app-list-friends>

  <img *ngIf="users.length == 0" src="../../../assets/images/following.svg" class="search-users-friends__picture"
       alt="friends">

</div>
