
<mat-card id="login">
  <div class="loading-container" *ngIf="showLoading">
    <div>
      <mat-spinner mode="indeterminate" [color]="'accent'"></mat-spinner>
    </div>
  </div>

  <mat-tab-group [selectedIndex]="selectedPageIndex">
    <mat-tab label="SIGN IN">
      <form>
        <mat-form-field [floatLabel]="'auto'">
          <input title="username" name="username" matInput type="email" [(ngModel)]="loginForm.email"
                 placeholder="Email">
        </mat-form-field>

        <mat-form-field [floatLabel]="'auto'">
          <input title="username" name="username" matInput type="password" [(ngModel)]="loginForm.password"
                 placeholder="Password">
        </mat-form-field>

        <button id="btn-login" mat-button mat-raised-button (click)="login()">Login</button>
      </form>
    </mat-tab>

    <mat-tab label="SIGN UP">
      <form>
        <mat-form-field [floatLabel]="'auto'">
          <input title="username" name="username" matInput type="text" [(ngModel)]="registerForm.name"
                 placeholder="Name">
        </mat-form-field>

        <mat-form-field [floatLabel]="'auto'">
          <input title="username" name="username" matInput type="email" [(ngModel)]="registerForm.email"
                 placeholder="Email">
        </mat-form-field>

        <mat-form-field [floatLabel]="'auto'">
          <input title="username" name="username" matInput type="password" [(ngModel)]="registerForm.password1"
                 placeholder="Password">
        </mat-form-field>

        <mat-form-field [floatLabel]="'auto'">
          <input title="username" name="username" matInput type="password" [(ngModel)]="registerForm.password2"
                 placeholder="Repeat the password">
        </mat-form-field>

        <button id="btn-register" mat-button mat-raised-button (click)="register()">Register</button>
      </form>
    </mat-tab>
  </mat-tab-group>

</mat-card>
