@import "../../../variables";
@import "../../../mixins";

#home-container {
  //display: flex;
  @include layoutDesktop;

  @include respond(desktop) {
    max-width: unset !important;
  }
  @include respond(big-desktop) {
    max-width: unset !important;
  }

  //@include respond(phone) {
  //  overflow-x: hidden;
  //}

  #home-list {
    display: flex;
    flex: 1;
    background: #efefef;
  }

}

.sections-list {
  //padding: 16px 16px 35px;
  padding-top: 16px;

  @include respond(phone) {
    padding-bottom: 35px;
  }

  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;

  @include respond(phone) {
    flex-direction: column;
  }

  &__item {
    flex: 1;
    min-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background: white;
    padding: 20px 10px;
    border-radius: 5px;

    @include respond(phone) {
      min-width: unset;
    }
  }

  @include respond(tab-port) {
    padding: 30px 100px;
  }

  @include respond(tab-land) {
    flex: 1;
  }

}

.verbs-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 16px;

  &__item {
    flex-wrap: wrap;
    margin: 4px 20px 4px 10px;
    position: relative;
    font-size: 1.5rem;
  }

}

.verb-completed {
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);

  @include respond(desktop) {
    right: -22px;
  }

  @include respond(big-desktop) {
    right: -22px;
  }
}

.verb-completed--ok {
  color: $color-green;
}


