<div id="home-container">

  <app-loading *ngIf="showLoading"></app-loading>

  <div id="home-list">

    <app-login-required [message]="'You have not logged in, your progress will not be saved'"
                        (close)="closeLoginRequired()" *ngIf="showLoginRequired">
    </app-login-required>

    <div class="sections-list">

      <div *ngFor="let section of sections" class="sections-list__item">
        <app-section-header
          [title]="section.title"
          [current]="section.current"
          [max]="section.max">
        </app-section-header>

        <div class="verbs-list">
          <div *ngFor="let verb of section.verbs" class="verbs-list__item">
            <i class="far fa-check-circle verb-completed verb-completed--ok"
               *ngIf="user && getVerbIsCompleted(section.id, verb.id)"></i>
            <span
              [ngClass]="{'verb-completed--ok':user && getVerbIsCompleted(section.id, verb.id)}">{{verb.present}}</span>
          </div>
        </div>

        <button mat-raised-button color="primary" class="btn-full home-btn" (click)="startExercises(section)">START
        </button>

      </div>

    </div>

  </div>

  <div id="home-exercices">
    <app-exercises></app-exercises>
  </div>

</div>
