<div id="main-panel">

  <mat-card class="eiv-panel">

    <div>
      <form id="form-practice">

        <div *ngIf="durationType.value == 2" class="control-exercice">
          <span>{{step}} / {{verbs.length}}</span>
          <span>{{percentage}}%</span>
          <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
        </div>


        <div *ngIf="durationType.value == 1" id="practice-timer" class="practice-form-row">
          <div id="resume-pgr">
            <circle-progress
              [maxPercent]="100"
              [outerStrokeColor]="color"
              [percent]="secondsPercentage"
              [animateTitle]="false"
              [animationDuration]="false"
              [showUnits]="false">
            </circle-progress>
            <span id="practice-timer-label">time left</span>
            <span id="practice-timer-value">{{seconds | secondsToTime}}</span>
          </div>
        </div>

        <div id="score" class="practice-form-row">
          <div id="score-success"><span>Success: {{score.success}}</span></div>
          <div id="score-errors"><span>Errors: {{score.errors}}</span></div>
        </div>

        <div class="practice-form-row">
          <span id="practice-verb">{{verbSelected.verb}}</span>
        </div>

        <div class="practice-form-row">
          <div>
            <mat-form-field [floatLabel]="'auto'">
              <input #inputSimple title="past-simple" name="past-simple" autocomplete="off" [disabled]="isVerbChecked"
                     matInput type="text" [(ngModel)]="newVerb.simple" placeholder="Past Simple">
            </mat-form-field>
            <span class="message-success" *ngIf="isVerbChecked  && exerciceCorrect.simple">
              <i class="material-icons">check_circle</i>
            </span>
            <span class="message-error" *ngIf="isVerbChecked && !exerciceCorrect.simple">
              {{verbSelected.simple}}
            </span>
          </div>

          <div>
            <mat-form-field [floatLabel]="'auto'">
              <input title="past-participle" name="past-participle" autocomplete="off" [disabled]="isVerbChecked"
                     matInput type="text"
                     [(ngModel)]="newVerb.participle"
                     placeholder="Past Participle">
            </mat-form-field>
            <span class="message-success" *ngIf="isVerbChecked  && exerciceCorrect.participle">
              <i class="material-icons">check_circle</i>
            </span>
            <span class="message-error" *ngIf="isVerbChecked && !exerciceCorrect.participle">
              {{verbSelected.participle}}
            </span>
          </div>
        </div>

        <div id="practice-btn-actions-container" class="practice-form-row" *ngIf="!isExerciceFinished">
          <button *ngIf="!isVerbChecked" mat-button mat-raised-button color="primary" (click)="checkVerb()">
            Check verb
          </button>
          <button #btnNext *ngIf="isVerbChecked" mat-button mat-raised-button color="primary" (click)="nextVerb()">
            Next verb
          </button>
        </div>
      </form>

      <div id="mode-exercices-btn-actions" *ngIf="isExerciceFinished">
        <div class="btn-nav-next" style="float: right;">
          <button mat-button (click)="nextVerb()">Finish</button>
        </div>
      </div>

    </div>

  </mat-card>

</div>

