@import "../../../variables";

mat-toolbar {
  //display: none !important;
}

$header-height: 70px;

$blue: #3F51B5;
$yellow: #FFD351;

body {
  background: white !important;
}

app-landing {
  display: block;
  background: white;
  padding-bottom: 500px;

  #landing-header {
    background: white;
    margin-bottom: 60px;
    position: relative;
    overflow: auto;

    #image-header {
      position: absolute;
      top: -27px;
      left: -10px;
      height: 90px;
    }

    #landing-header-left {
      margin-left: 200px;

      a {
        text-decoration: none;
      }

      h1 {
        font-family: "SF Pro Display", serif;
        color: $blue;
        font-size: 28px;
        font-weight: bold;
      }

      height: $header-height;
      float: left;
    }

    #landing-header-right {
      margin-right: 150px;
      height: $header-height;
      float: right;
      display: inline-block;

      ul {
        list-style: none;
        overflow: auto;

        li {
          float: left;
          margin-left: 15px;
        }
      }

      a {
        border: none;
        color: black;
        width: 100px;
        height: 40px;
        border-radius: 40px;
        font-family: "SF Pro Display", serif;
        font-size: 17px;
        cursor: pointer;
        text-decoration: none;
        display: block;
        text-align: center;
        line-height: 40px;
      }

      a:focus {
        outline: none;
      }

      #landing-header-signup {
        background: $yellow;
        color: white
      }
    }

  }

  #landing-goals {
    margin-top: 80px;

    #landing-goals-description,
    #landing-goals-image {
      float: left;
      width: 50%;
    }

    #landing-goals-description {
      overflow: auto;

      > div {
        float: right;
        font-family: 'SF Pro Display', serif;
      }

      #landing-goals-description-title {
        font-weight: lighter;
        font-size: 65px;
        margin-bottom: 10px;
      }

      #landing-goals-description-subtitle {
        font-size: 17px;
        font-weight: lighter;
      }

      #landing-goals-description-btn-get-started {
        clear: both;
        float: left;
        margin-top: 30px;

        a {
          text-decoration: none;
          color: white;
          font-family: 'SF Pro Display', serif;
          font-size: 17px;
          background: $yellow;
          border: none;
          width: 190px;
          height: 60px;
          display: block;
          border-radius: 30px;
          cursor: pointer;
          text-align: center;
          line-height: 60px;
        }

        > button:focus {
          outline: none !important;
        }

      }

    }

    #landing-goals-image {
      div {
        min-height: 500px;
        width: 100%;
        background: url("../../../assets/images/undraw_working_late_pukg.svg") no-repeat center;
        background-size: contain;
      }
    }

  }

  #landing-devices {

    .landing-device-layout:first-child .landing-device-container {
      float: right;
      margin-right: 30px;
    }

    .landing-device-layout:last-child .landing-device-container {
      float: left;
      margin-left: 30px;
    }

    .landing-device-layout {
      float: left;
      width: 50%;
      padding-top: 20px;
      padding-bottom: 20px;

      .landing-device-container {
        margin: 0 auto;
        background: white;
        position: relative;
        min-height: 400px;
        -webkit-box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.35);
        border-radius: 6px;

        padding: 30px;

        #device-background-container {
          img {
            height: 300px;
          }
        }

        .landing-devies-sources {
          overflow: auto;
          margin-top: 30px;

          > div {
            width: 50%;
            float: left;

            a {
              color: mat-color($mat-orange, 400);
              font-family: 'SF Pro Display', serif;
              text-decoration: none;
              font-size: 17px;
            }
          }

          > div:nth-child(2) {
            a {
              float: right;
            }
          }

        }

      }

    }

  }

  #landing-friends {

    #landing-friends-text,
    #landing-friends-image {
      width: 50%;
      float: left;
      height: 300px;
    }

    #landing-friends-text {

      > div {
        margin-top: 65px;
        margin-right: 60px;
        float: right;
      }

    }

    #landing-friends-image {

      img {
        height: 300px;
        margin-left: 60px;
      }
    }
  }

  #landing-social-networks {
    overflow: visible;
    position: relative;

    #background-social-networks {
      position: absolute;
      top: -300px;
      left: -250px;
      height: 700px;

      img {
        height: 100%;
      }
    }

    #landing-social-networks-image,
    #landing-social-networks-text {
      width: 50%;
      float: left;
    }

    #landing-social-networks-image {
      position: relative;
      display: block;
      min-width: 100px;
      min-height: 100px;

      img {
        height: 380px;
        float: right;
        margin-right: 60px;
        position: absolute;
        top: 40px;
        left: 150px;
        display: block;
      }
    }

    #landing-social-networks-text {

      #landing-social-networks-links {

        > div:nth-child(even) {
          background: #E6E4FE;
        }

        > div:nth-child(odd) {
          background: #c6ccfa;
        }

        > div {
          overflow: auto;
          display: block;
          margin-bottom: 10px;
          border-radius: 15px;
          padding-left: 15px;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-right: 150px;
        }

        margin-top: 15px;

        a {

          .landing-social-network-image {
            width: 30%;
            max-width: 100px;
            float: left;

            img {
              width: 100%;
              border-radius: 50%;
            }
          }

          .landing-social-network-link {
            width: 70%;
            float: left;
            line-height: 100px;
            padding-left: 50px;
            font-weight: bold;
            font-family: 'SF Pro Display', serif;

          }
        }

      }

    }

  }

  .landing-block {
    margin-top: 200px;
    overflow: auto;
    min-height: 100px;

    .landing-title,
    .landing-description {
      font-family: 'SF Pro Display', serif;
    }

    .landing-title {
      font-size: 46px;
      color: #223242;
      margin-bottom: 15px;
    }

    .landing-description {
      font-size: 17px;
      color: #657783;
    }

  }

}
