<app-header *ngIf="isDesktop" [userName]="user?.username"
            [userImage]="user?.picture" [currentPath]="currentPath">
</app-header>

<router-outlet></router-outlet>

<!--<app-footer *ngIf="isDesktop"></app-footer>-->

<nav class="bottom-nav" *ngIf="!isDesktop && showTabs">
  <a class="bottom-nav__action" [ngClass]="{'bottom-nav__action--active': tabIndex == 1}"
     (click)="setTab(1)" [routerLink]="'/'">
    <i class="fas fa-crown"></i>
  </a>

  <a class="bottom-nav__action" [ngClass]="{'bottom-nav__action--active': tabIndex == 2}"
     (click)="setTab(2)" [routerLink]="'/friends'">
    <i class="fas fa-users"></i>
  </a>

  <a class="bottom-nav__action" [ngClass]="{'bottom-nav__action--active': tabIndex == 3}"
     (click)="setTab(3)" [routerLink]="'/profile/' + user?.username" *ngIf="user">
    <i class="fas fa-user"></i>
  </a>

</nav>
