@import "../../../mixins";
@import "../../../variables";

#friends-container {
  @include respond(tab-land) {
    padding: 30px 200px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include respond(tab-port) {
    padding: 30px 100px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include layoutDesktop;

  @include respond(desktop) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include respond(big-desktop) {
    padding-left: 20px;
    padding-right: 20px;
  }

  height: calc(100% - 32px);
  margin-top: 16px!important;
  padding-top: 16px;
  overflow-y:scroll;
}

.add-friend {
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 100;

  @include respond(desktop) {
    position: absolute;
    bottom: 20px;
  }
  @include respond(big-desktop) {
    position: absolute;
    bottom: 20px;
  }
}
