@import "../../../mixins";
@import "../../../variables";

#friends-container {

  @include respond(tab-land) {
    padding: 30px 200px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include respond(tab-port) {
    padding: 30px 100px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include layoutDesktop;
}

.profile-friend {
  $friend-size: 40px;
  display: flex;
  height: $friend-size;
  line-height: $friend-size;
  position: relative;
  cursor: pointer;
  margin-top: 16px;

  &:not(:last-child) {
    margin-bottom: 16px;

    &:after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 0;
      height: 2px;
      width: 100%;
      background: #c9c9c9;
    }
  }

  &__index {
    margin-right: 15px;
    margin-left: 5px;
    color: $color-primary;
  }

  &__picture {
    width: $friend-size;

    > img {
      height: $friend-size;
      width: $friend-size;
      border-radius: 50%;
    }
  }

  &__username {
    flex: 1;
    text-align: left;
    margin-left: 15px;
  }

  &__points {
    flex: 1;
    text-align: right;
    margin-right: 15px;
  }

}

.is-user-connected {
  > div {
    color: $color-secondary-dark;
  }
}

.add-friend {
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 100;
}
