<div id="friends-container">

  <app-login-required [message]="'You have not logged in, you cannot list friends'"
                      (close)="closeLoginRequired()" *ngIf="showLoginRequired">
  </app-login-required>

  <app-header-container [title]="'Friends'"></app-header-container>

  <button mat-fab color="primary" class="add-friend" [routerLink]="'/search'">
    <i class="fas fa-user-friends"></i>
  </button>

  <app-list-friends [friends]="friends" [userConnected]="userConnected"></app-list-friends>

</div>
