<!--<app-login-required [message]="'You have not logged in, you cannot see your profile'"
                    [onlyToLogin]="true"
                    *ngIf="showLoginRequired">
</app-login-required>-->

<app-loading *ngIf="showLoading"></app-loading>

<div id="profile-container">

  <!-- your profile -->
  <div *ngIf="userProfile?.code == token.userCode" class="my-profile">

    <button mat-fab color="primary" class="my-profile__add-friend" [routerLink]="'/search'">
      <i class="fas fa-user-friends"></i>
    </button>

    <div *ngIf="!showLoginRequired">

      <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab" (selectedIndexChange)="changeTab($event)">
        <!--    <mat-tab label="User">

              <div class="profile-tab-content">
                <h1>User</h1>
              </div>

            </mat-tab>

            <mat-tab label="Achievements">

              <div class="profile-tab-content">
                <h1>No avai</h1>
              </div>

            </mat-tab>
    -->
        <mat-tab label="Friends">

          <div class="profile-tab-content">
            <app-friends [friends]="friends"></app-friends>
          </div>

        </mat-tab>

        <mat-tab label="Configuration" class="profile-tab-config">

          <div class="profile-tab-content">

            <span class="profile-tab-config__title">Enirve can ask you the translations of the verbs.</span>

            <mat-slide-toggle
              class="example-margin"
              [color]="'primary'"
              [checked]="translationEnabled"
              (change)="translationEnabledToggle()">

              Enable translation
            </mat-slide-toggle>

            <div *ngIf="translationEnabled" class="profile-language-selection">
              <mat-form-field>
                <mat-label>Choose the language to translate</mat-label>
                <mat-select [(ngModel)]="config.translateLanguage" (valueChange)="translationLanguagechanged($event)">
                  <mat-option *ngFor="let language of languages" [value]="language.code">
                    {{language.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

        </mat-tab>

      </mat-tab-group>

    </div>

  </div>

  <div *ngIf="userProfile && userProfile.code != token.userCode" class="profile-read-only">

    <app-close></app-close>

    <div class="profile-read-only__picture">
      <img [src]="userProfile?.picture | imageDownloader | async" alt="user image">
    </div>

    <div class="profile-read-only__username">{{userProfile?.username}}</div>

    <div *ngIf="following" class="profile-read-only__following">You are following this user</div>

    <div *ngIf="following">
      <button mat-raised-button color="warn" class="btn-full" (click)="unfollow()">
        STOP TO FOLLOW
      </button>
    </div>

    <div *ngIf="!following">
      <button mat-raised-button color="primary" class="btn-full" (click)="follow()">
        FOLLOW
      </button>
    </div>


  </div>

</div>
