@import "../../../mixins";
@import "../../../variables";

#profile-container {

  @include respond(tab-land) {
    padding: 30px 200px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include respond(tab-port) {
    padding: 30px 100px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include layoutDesktop;
}

.profile-tab-content {

  @include respond(phone) {
    height: calc(100vh - 90px);
  }

  @include respond(desktop) {
    height: calc(100vh - 245px);
    //max-width: 500px;
    margin: 0 auto;

    .profile-language-selection {
      max-width: 350px;
    }
  }
  @include respond(big-desktop) {
    height: calc(100vh - 245px);
    //max-width: 500px;
    margin: 0 auto;

    .profile-language-selection {
      max-width: 350px;
    }
  }
}

.profile-tab-config {
  &__title {
    margin-bottom: 20px;
    display: block;
  }
}

.profile-language-selection {
  margin-top: 30px;

  > mat-form-field {
    width: 100%;
  }
}

.profile-read-only {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;

  &__picture {
    padding-top: 32px;

    > img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
      object-fit: cover;
    }
  }

  &__username {
    text-align: center;
    margin-top: 16px;
    font-size: 31px;
    font-weight: bold;
    color: $color-grey-dark-3;
  }

  &__following {
    text-align: center;
    margin-top: 32px;
  }

  #profile-read-only-follow,
  #profile-read-only-unfollow {
    margin-top: 32px;
  }

}

.my-profile {
  position: relative;
  background: #f5f5f569;

  @include respond(desktop) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @include respond(big-desktop) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &__add-friend {
    position: fixed;
    right: 20px;
    bottom: 60px;
    z-index: 100;
  }
}

#user-does-not-exists {
  h1 {
    text-align: center;
    margin-top: 30px;
  }
}

/* register */

#profile-container {
  @include layoutDesktop;

  mat-card {
    background: #f5f5f569;
  }

  .mat-form-field {
    width: 100% !important;

    &:last-of-type {
      margin-bottom: 24px;
    }
  }

}

#login-card-background {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.login-title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: $color-primary;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 100%);
}

.login-forgot-password {
  color: $color-primary;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: 600;
}

.register-user-image {
  display: block;
  margin: 16px auto 0;
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
}

.btn-register-user-image {
  margin: 8px auto 0;
  display: block;

  input {
    position: absolute;
    opacity: 0;
    bottom: 8px;
    width: 100%;
    left: 0;
  }
}

.login-form {

  &__input {
    margin-top: 30px;
  }

  @include respond(desktop) {
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @include respond(big-desktop) {
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

}


.profile-points,
.profile-read-only__points {
  text-align: center;
  font-size: 31px;
  font-weight: bold;
  color: $color-secondary-dark;
}
