<!--<app-login-required [message]="'You have not logged in, you cannot see your profile'"
                    [onlyToLogin]="true"
                    *ngIf="showLoginRequired">
</app-login-required>-->

<app-loading *ngIf="showLoading"></app-loading>

<div id="profile-container">

  <!-- your profile -->
  <mat-card *ngIf="userProfile?.code == token?.userCode" class="my-profile">

    <div *ngIf="!showLoginRequired">

      <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedTab" (selectedIndexChange)="changeTab($event)">
        <mat-tab label="User">

          <div class="profile-tab-content">
            <div>

              <img [src]="registerForm.picture | serverUrl" alt="user" class="register-user-image">
              <button mat-button color="primary" class="btn-register-user-image">
                Choose a picture
                <input type="file"
                       id="file"
                       (change)="choosePicture($event.target.files)">
              </button>

              <div class="profile-points">{{userProfile?.progress.points}} EXP</div>

              <mat-form-field>
                <label>
                  <input matInput placeholder="Enter the username"
                         [formControl]="registerForm.username" (input)="checkAvailability('username')">
                  <mat-error *ngIf="registerForm.username.touched && registerForm.username.hasError('required')">
                    Username is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="repeatData.username">
                    This username already exists
                  </mat-error>
                </label>
              </mat-form-field>

              <mat-form-field>
                <label>
                  <input matInput placeholder="Enter the email" type="email"
                         [formControl]="registerForm.email" (input)="checkAvailability('email')">
                  <mat-error
                    *ngIf="registerForm.email.touched && registerForm.email.hasError('email') && !registerForm.email.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="registerForm.email.touched && registerForm.email.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="repeatData.email">
                    This email already exists
                  </mat-error>
                </label>
              </mat-form-field>

              <mat-form-field>
                <label>
                  <input matInput placeholder="Enter the password" type="password" [formControl]="registerForm.password"
                         (input)="inputPassword('password')">
                  <mat-error *ngIf="registerForm.password.touched && registerForm.password.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                </label>
              </mat-form-field>

              <mat-form-field>
                <label>
                  <input matInput placeholder="Repeat the password" type="password"
                         (input)="inputPassword('passwordRepeat')"
                         [formControl]="registerForm.passwordRepeat">
                  <mat-error
                    *ngIf="registerForm.passwordRepeat.touched && registerForm.passwordRepeat.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="registerForm.password.value != registerForm.passwordRepeat.value &&
                          registerForm.password.touched && registerForm.passwordRepeat.touched &&
                          !registerForm.passwordRepeat.hasError('required')">
                    The passwords do not match
                  </mat-error>
                </label>
              </mat-form-field>

              <button mat-raised-button color="primary" class="btn-full" (click)="updateProfile()">
                UPDATE
              </button>

            </div>
          </div>

        </mat-tab>

        <!--
                    <mat-tab label="Achievements">

                      <div class="profile-tab-content">
                        <h1>No avai</h1>
                      </div>

                    </mat-tab>
            -->
<!--        <mat-tab label="Friends">

          <div class="profile-tab-content">
            <app-friends [friends]="friends"></app-friends>
          </div>

        </mat-tab>-->

        <mat-tab label="Configuration" class="profile-tab-config">

          <div class="profile-tab-content">

            <span class="profile-tab-config__title">Enirve can ask you the translations of the verbs.</span>

            <mat-slide-toggle
              class="example-margin"
              [color]="'primary'"
              [checked]="translationEnabled"
              (change)="translationEnabledToggle()">

              Enable translation
            </mat-slide-toggle>

            <div *ngIf="translationEnabled" class="profile-language-selection">
              <mat-form-field>
                <mat-label>Choose the language to translate</mat-label>
                <mat-select [(ngModel)]="config.translateLanguage" (valueChange)="translationLanguagechanged($event)">
                  <mat-option *ngFor="let language of languages" [value]="language.code">
                    {{language.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

        </mat-tab>

      </mat-tab-group>

    </div>

  </mat-card>

  <div *ngIf="userProfile && userProfile.code != token.userCode" class="profile-read-only">

    <app-close></app-close>

    <div class="profile-read-only__picture">
      <img [src]="userProfile?.picture | serverUrl" alt="user image">
    </div>

    <div class="profile-read-only__username">{{userProfile?.username}}</div>

    <div class="profile-read-only__points">{{userProfile?.progress.points}} EXP</div>

    <div *ngIf="following" class="profile-read-only__following">You are following this user</div>

    <div *ngIf="following">
      <button mat-raised-button color="warn" id="profile-read-only-unfollow" class="btn-full" (click)="unfollow()">
        STOP TO FOLLOW
      </button>
    </div>

    <div *ngIf="!following">
      <button mat-raised-button color="primary" id="profile-read-only-follow" class="btn-full" (click)="follow()">
        FOLLOW
      </button>
    </div>


  </div>

  <div *ngIf="!userProfile && finishDownload" id="user-does-not-exists">
    <h1>The user {{username}} does not exists</h1>
  </div>

</div>
