@import "../../../mixins";
@import "../../../variables";

#profile-container {

  @include respond(tab-land) {
    padding: 30px 200px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include respond(tab-port) {
    padding: 30px 100px;
    .profile-language-selection {
      max-width: 200px;
    }
  }

  @include layoutDesktop;
}

.profile-tab-content {
  padding: 16px;
  height: calc(100vh - 90px);

  @include respond(desktop) {
    max-width: 500px;
    margin: 0 auto;

    .profile-language-selection {
      max-width: 350px;
    }
  }
  @include respond(big-desktop) {
    max-width: 500px;
    margin: 0 auto;

    .profile-language-selection {
      max-width: 350px;
    }
  }
}

.profile-tab-config {
  &__title {
    margin-bottom: 20px;
    display: block;
  }
}

.profile-language-selection {
  margin-top: 30px;

  > mat-form-field {
    width: 100%;
  }
}

.profile-read-only {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;

  &__picture {
    padding-top: 32px;

    > img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
      object-fit: cover;
    }
  }

  &__username {
    text-align: center;
    margin-top: 16px;
    font-size: 31px;
    font-weight: bold;
    color: $color-grey-dark-3;
  }

  &__following {
    text-align: center;
    margin-top: 32px;
  }

  button {
    margin-top: 32px;
  }

}

.my-profile {
  position: relative;

  &__add-friend {
    position: fixed;
    right: 20px;
    bottom: 60px;
    z-index: 100;
  }
}
