<div id="main-panel">

  <mat-card class="eiv-panel">

    <!--<mat-card-title>Select the verbs with which you want to practice</mat-card-title>-->

    <div>
      <form>
        <!--<ng-template matStepLabel>Select the verbs with which you want to practice</ng-template>-->
        <mat-form-field class="select-mode-selection select-mode-select">
          <mat-select placeholder="Order to do the exercises" [(value)]="modeSort"
                      (selectionChange)="changeOrderVerbs()">
            <mat-option *ngFor="let mode of modesSort" [value]=mode>
              {{ mode.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="select-mode-selection select-mode-select">
          <mat-select placeholder="Duration of the exercise" [(value)]="modeType"
                      (selectionChange)="changeDuration()">
            <mat-option *ngFor="let mode of modesType" [value]=mode>
              {{ mode.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="select-mode-selection select-mode-select" [floatLabel]="'auto'">
          <input title="duration" name="duration" matInput type="number" [(ngModel)]="duration"
                 [placeholder]="labelDuration">
        </mat-form-field>

        <div id="exercices-selected-to-practice">
          <span>Exercices selected to practice</span>
          <div *ngFor="let verb of verbs">
            <span>{{verb.verb}}</span>
          </div>
        </div>


        <div id="mode-exercices-btn-actions">
          <div class="bnt-nav-prev">
            <button mat-button (click)="goToHome()">Previous</button>
          </div>

          <div class="bnt-nav-next">
            <button mat-button (click)="startExercices()">Start</button>
          </div>
        </div>

      </form>
    </div>

  </mat-card>

</div>

