<div id="main-panel">

  <mat-card class="eiv-panel">

    <div>
      <form>
        <ng-template matStepLabel>Select the verbs with which you want to practice</ng-template>
        <mat-form-field class="select-mode-selection select-mode-select">
          <mat-select placeholder="Mode to select verbs" [(value)]="modeSelection"
                      (selectionChange)="changeModeSelect()">
            <mat-option *ngFor="let mode of modesSelection" [value]=mode>
              {{ mode.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="isModeSelected(modeSelection, 'Random')" class="verbs-header-input"
                        [floatLabel]="'auto'">
          <input matInput type="number" placeholder="Number of verbs"
                 name="numberOfVerbsRandomSelected" [(ngModel)]="numberOfVerbsRandomSelected">
        </mat-form-field>
        <div id="btn-refresh-random-verbs" *ngIf="isModeSelected(modeSelection, 'Random')">
          <button mat-button mat-raised-button color="primary" (click)="refreshVerbsRandom()">
            <i class="material-icons">refresh</i>
          </button>
        </div>

        <mat-form-field *ngIf="isModeSelected(modeSelection, 'Manual', 'Custom')" class="verbs-header-input"
                        [floatLabel]="'auto'">
          <input matInput type="search" (input)="search($event.target.value)" placeholder="Search">
        </mat-form-field>

        <div *ngIf="isModeSelected(modeSelection, 'Manual', 'Custom')" id="btn-select-container">
          <button mat-button mat-raised-button color="primary" (click)="setMatched(true)">Select all</button>
          <button mat-button mat-raised-button color="accent" (click)="setMatched(false)">Deselect all</button>
        </div>

        <perfect-scrollbar [style.maxHeight]="innerHeight">
          <div id="list-verbs">
            <div *ngFor="let verb of verbsFiltered" class="item-verb" (click)="selectVerb(verb)"
                 [ngClass]="{'eiv-tag': verb.matched, 'selection-random': modeSelection.value != 1}">
              <span>{{verb.verb}}</span>
            </div>
          </div>
        </perfect-scrollbar>


        <div id="verbs-selected-info">
          <span *ngIf="verbsSelected.length > 0 && verbsSelected.length != this.verbs.length">Verbs selected {{verbsSelected.length}} to {{this.verbs.length}}</span>
          <span *ngIf="verbsSelected.length == this.verbs.length">You have selected all the verbs {{verbsSelected.length}}</span>
          <span *ngIf="verbsSelected.length == 0">You have not selected any verb</span>

          <div class="bnt-nav-next">
            <button mat-button (click)="selectModeExercices()">Next</button>
          </div>
        </div>

      </form>
    </div>

  </mat-card>

</div>
