@import "../../../variables";
@import "../../../mixins";

.resume {
  padding: 16px;
  height: calc(100% - 32px);
  margin-top: 16px!important;
  overflow-y:scroll;

  @include respond(tab-land) {
    padding: 30px 100px;
  }

  @include respond(tab-port) {
    padding: 30px 100px;
  }

  @include layoutDesktop;

}

.resume-section {
  margin-top: 3rem;
}

.resume-label {
  color: $color-grey-dark-2;
  font-size: 2.2rem;
  font-weight: bold;
  //margin-top: 3rem;
  //margin-bottom: 8px;
}

.resume-points-earned {
  > div {
    text-align: center;
  }

  &__message {

  }

  &__points {
    font-size: 4rem;
  }
}

.mistake-container {
  display: flex;
  flex-wrap: wrap;

  .mistake-item {
    color: $color-grey-dark-1;
    margin-right: 20px;
    font-size: 1.8rem;
  }
}

.resume-actions {
  display: flex;
  flex-direction: column;

  @include respond(tab-land) {
    flex-direction: row;
    margin-top: 50px;
  }

  @include respond(tab-port) {
    flex-direction: row;
    margin-top: 50px;
  }

  .resume-btn {
    margin: 32px auto 0;
    display: block;

    @include respond (phone) {
      width: 100%;
    }

    @include respond(tab-port) {
      width: 250px;
    }

    @include respond(tab-land) {
      width: 300px;
    }

  }

}

